/.DS_Store
/.idea
.idea
/bin
/lib
/*.DS_Store
*.DS_Store
*__pycache__*
domains/champion_identification/files/*
domains/product_usage_data_preprocessing/files/*
domains/crm_data_preprocessing/files/*
domains/training_data_preprocessing/files/*
local_docker_env_file.txt
pyvenv.cfg
.env
nrenv/
lib64/
share/
myenv/
test.py
domains/crm_data_preprocessing/files/temp/
1/*
2/*
3/*
4/*
5/*
6/*
7/*
temp_files/*
.vscode/*
dendrogram.jpg
domains/model_training/config/*
domains/model_training/constants/*
domains/model_training/infrastructure/*
domains/model_training/utils/*
domains/upload_file_and_dataset/config/*
domains/upload_file_and_dataset/constants/*
domains/upload_file_and_dataset/infrastructure/*
domains/upload_file_and_dataset/utils/*
node_modules
.serverless/
test_venv
input_payloads/
.ipynb_checkpoints/
test.ipynb
test.json
testEvent.json
misc.xml
